{{#partial "styles"}}
    <link rel="stylesheet" href="/css/card.css">
{{/partial}}

{{#partial "content"}}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="/images/addsquad.jpg" alt="Card image cap" height="400px" width="100px">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text t-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/squads" class="btn btn-primary t-2">Squads</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="/images/hero home.jpg" alt="Card image cap" height="400px" width="100px">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text t-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/heroes" class="btn btn-primary t-2">Add hero</a>
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{> layout.hbs}}